# Creating component

- Use the shadcn/vue as the component generator, use the "shadcn-vue docs" tool to know which component to add and how to add it. 
- The command to import the component is like this: `npx shadcn-vue@latest add COMPONENT`.